# Dependencies
node_modules/
package-lock.json

# Production
build/
dist/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible
*.retry
ansible.log

# Jenkins
.jenkins/

# Misc
*.bak
*.tmp
